body {
  margin: 0;
  width: 100%;
  padding: 0;
}

.my-card {
  padding: 40px;
  border-radius: 10px;
  -webkit-box-shadow: -2px 20px 54px -17px rgba(184, 164, 184, 1);
  -moz-box-shadow: -2px 20px 54px -17px rgba(184, 164, 184, 1);
  box-shadow: -2px 20px 54px -17px rgba(184, 164, 184, 1);
}

.container {
  max-width: 500px;
  font-family: "Montserrat", sans-serif;
}
